@import java.util.Locale
@import views.html.form.FormConstructorTemplate
@import domain.{Article, User}
@import views.form.PostCommentForm

@(article: Article, form: Form[PostCommentForm], users: Seq[User], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@userOptions = @{
  users.map { user =>
    (user.id.toString, user.username)
  }
}

@implicitField = @{
  helper.FieldConstructor(FormConstructorTemplate.f)
}

@main(s"Article #${article.id}") {

  @{
      <div class="card mt-2 mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <a href={s"/user/${article.user.id}"}>{article.user.username}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {article.created.toString("dd. MMM yyyy ' at ' k:mm:ss", Locale.ENGLISH)}
          </h6>
        <p class="card-text">{article.body}</p>
        </div>
      </div>
  }


  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"> @{article.comments.size} Comments</h5>

    <div class="list-group list-group-flush">

    @{
      article.comments.map {comment =>
      <div class="list-group-item flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <a href={s"/user/${comment.user.id}"}>
            {comment.user.username}
          </a>
        </h5>
        <small>{comment.created.toString("dd. MMM yyyy ' at ' k:mm:ss")}</small>
      </div>
      <p class="mb-1">{comment.body}</p>
      </div>
      }
    }

    <div id="postArticleForm" class="card mb-3 list-group-item list-group-flush">
      <div class="card-body">
        <h5 class="card-title">New Comment</h5>
        @helper.form(postUrl) {
          @helper.CSRF.formField
          @helper.textarea(form("body"), 'class -> "form-control", 'required -> true,  '_label -> "What do you think?")
          @helper.select(form("userId"), userOptions, 'class -> "form-control", '_label -> "Who are you?")

          <button type="submit" class="btn btn-primary">Submit</button>
        }
      </div>
    </div>

    </div>
    </div>

  </div>


}

