@import java.util.Locale

@import views.form.PostArticleForm
@import domain.User
@import dto.ArticlesSection
@import views.html.form.FormConstructorTemplate
@(articlesSection: ArticlesSection, form: Form[PostArticleForm], users: Seq[User], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@userOptions = @{
  users.map { user =>
    (user.id.toString, user.username)
  }
}

@implicitField = @{
  helper.FieldConstructor(FormConstructorTemplate.f)
}

@main("Article Feed") {

@* Post Article *@
@if(articlesSection.currentPage == 1){
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">New Article</h5>
    @helper.form(postUrl) {
      @helper.CSRF.formField
      @helper.textarea(form("body"), 'class -> "form-control", 'required -> true,  '_label -> "What's on your mind?")
      @helper.select(form("userId"), userOptions, 'class -> "form-control", '_label -> "Who are you?")

    <button type="submit" class="btn btn-primary">Submit</button>
  }
  </div>
</div>
}
  @* Article Feed *@

  @{
    articlesSection.articles.map { article =>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">
              <a href={s"/user/${article.user.id}"}>{article.user.username}</a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {article.created.toString("dd. MMM yyyy ' at ' k:mm:ss", Locale.ENGLISH)}
            </h6>
            <p class="card-text">{article.body}</p>
          </div>
          <div class="card-footer text-muted">
            <a href={s"/article/${article.id}"} class="badge badge-light">{article.comments.size} Comments</a>
          </div>
        </div>

    }
  }

  @* Pagination *@
  <nav class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item @if(articlesSection.currentPage == 1){disabled} ">
        <a class="page-link" href="@{articlesSection.currentPage - 1}">Previous</a>
      </li>
      @for(i <- 1 to articlesSection.totalPages + 1) {
        <li class="page-item @if(i == articlesSection.currentPage){active} ">
          <a class="page-link" href="@{i}">
            @{i}
          </a>
        </li>
      }
      <li class="page-item @if(articlesSection.currentPage == articlesSection.totalPages + 1){disabled}">
        <a class="page-link" href="@{articlesSection.currentPage + 1}">Next</a>
      </li>
    </ul>
  </nav>
}

