@import java.util.Locale

@import domain.{Article, User}
@import views.form.PostCommentForm
@import views.html.form.FormConstructorTemplate

@import domain.ArticleWithComments
@(article: ArticleWithComments, form: Form[PostCommentForm], users: Seq[User], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@userOptions = @{
  users.map { user =>
    (user.id.toString, user.username)
  }
}

@implicitField = @{
  helper.FieldConstructor(FormConstructorTemplate.f)
}

@main(s"Article #${article.article.id}") {

  @{
      <div class="card mt-2 mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center mb-3">
              <img class="img-fluid rounded-circle mr-2 articledetail-profile-picture"
              src="https://s3.eu-central-1.amazonaws.com/median-static/images/profile_images/default/defaultpp_100x100.png" alt="default_profile_picture"/>
            <h5 class="text-center my-0">
              <a href={s"/user/${article.article.user.id}"}>{article.article.user.username}</a>
            </h5>
          </div>
          <h6 class="card-subtitle mb-4 text-muted">
           {article.article.created.toString("dd. MMM yyyy ' at ' k:mm:ss", Locale.ENGLISH)}
          </h6>
          <p class="card-text">{article.article.body}</p>
        </div>
      </div>
  }


  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"> @{article.comments.size} Comments</h5>

    <div class="list-group list-group-flush">

    @{
      article.comments.map(_.map {comment =>

        <div class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between mb-2 align-items-center">
            <div class="d-flex justify-content-start align-items-center">
              <img class="img-fluid rounded-circle mr-2 articlecomment-profile-picture" src="https://s3.eu-central-1.amazonaws.com/median-static/images/profile_images/default/defaultpp_100x100.png" alt="default_profile_picture"/>
              <h6 class="font-weight-normal text-center my-0">
                <a href={s"/user/${comment.user.id}"}>{comment.user.username}</a>
              </h6>
            </div>
            <small>{comment.created.toString("dd. MMM yyyy ' at ' k:mm:ss")}</small>
          </div>
          <p class="mb-1">{comment.body}</p>
        </div>
      })
    }

    <div id="postArticleForm" class="card mb-3 list-group-item list-group-flush">
      <div class="card-body">
        <h5 class="card-title">New Comment</h5>
        @helper.form(postUrl) {
          @helper.CSRF.formField
          @helper.textarea(form("body"), 'class -> "form-control", 'required -> true,  '_label -> "What do you think?")
          @helper.select(form("userId"), userOptions, 'class -> "form-control", '_label -> "Who are you?")

          <button type="submit" class="btn btn-primary">Submit</button>
        }
      </div>
    </div>

    </div>
    </div>

  </div>


}

